@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}
body {
  /* margin: 0; */
  /* padding: 0; */

  background-color: #020202;
}
.Grid {
  margin-top: 350px;
  height: 100vh;
  width: 100vw;
  background: url("/Group.svg") no-repeat;
  background-position: center;
  opacity: 0.3;
}

.pill {
  border-radius: 100px;
  height: 36px;
  border: 1px solid #6a6a6a;
  background: rgba(58, 58, 58, 0.5);
}
.pillText {
  color: #fff;
  text-align: center;
  /* font-family: Lato; */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.12px;
  opacity: 0.5;
}
.divider {
  width: 100%;
  height: 25px;
  min-height: 25px;
  background-image: url("/line.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}
.white-logo {
  filter: brightness(0) invert(1);
}
.carousel-container-clients {
  overflow: hidden;
}
.carousel-clients {
  display: inline-flex;
  animation: carousel 15s linear infinite;
}
.carousel-fade-clients {
  position: relative;
}

.carousel-fade-clients:after,
.carousel-fade-clients:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 240px;
  pointer-events: none;
  z-index: 10;
}

@media (max-width: 768px) {
  .carousel-fade-clients:after,
  .carousel-fade-clients:before {
    width: 100px;
  }
}

.carousel-fade-clients:before {
  left: 0;
  background-image: linear-gradient(90deg, #030303, hsla(0, 0%, 100%, 0));
}

.carousel-fade-clients:after {
  right: 0;
  background-image: linear-gradient(270deg, #060606, hsla(0, 0%, 100%, 0));
}
@keyframes carousel-reverse {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%) translateZ(0);
  }
}

@keyframes carousel {
  0% {
    transform: translateX(-50%) translateZ(0);
  }

  to {
    transform: translateX(0) translateZ(0);
  }
}
