.App {
  background-color: #f9f7f8;
  color: #fff;
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  font-family: "Inter", sans-serif;
}

/* global css classes to use wherever needed */
.container {
  box-sizing: border-box;
  padding: 60px;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  border-radius: 400px;
}
.heading {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

.subHeading {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
