.App {
  text-align: center;
  background-color: #f9f7f8;
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  border: 1px solid black;
}
